.header-content {
    max-height: 75vh;
    /* background: linear-gradient(rgba(141, 39, 174, 0.3), rgba(141, 39, 174, 0.5)), url("../../images/library-img.jpg") center/cover no-repeat; */
    flex-direction: column;
    color: black;
    padding: 10px 0;
}

.header-title {
    font-size: 4.2rem;
}

.header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}

.holder{
    margin-bottom: 4rem;
}